<ion-view view-title="Pet Friendly">
  <ion-content ng-model="pet" class="padding">

    <div class="list card">
      <div class="bar bar-header bar-stable">
        <h1.pet class="title">{{pet.name}}, {{pet.age}}</h1>
      </div> 

      <div class="item item-image">
        <img src="{{pet.photo1}}">
      <div>

      <ion-item class="item-text-wrap">
          <p>{{pet.description}}</p>
      </ion-item>
      
    </div>

    <a class="item" href="#/tab/match">
      <button class="button button-block button-royal">
        Back to Match
      </button>
    </a>
    <a class="item" href="#/"> 
      <button class="button button-block button-royal">
        Add to Favorites
      </button>
    </a>  
  </ion-content>
</ion-view>


