<ion-view view-title="Pet Friendly">
  <ion-content ng-model="pet" class="padding">
    <ion-list>
      <ion-item ng-repeat="pet in pets" ng:show="$parent.selected == $index" >
      <a href="#/tab/details">
        <h2>{{pet.name.$t}}, {{pet.age.$t}}</h2>
        <!--<img ng-repeat="img in pet.media.photos.photo" ng-src="{{img.$t}}"/>-->
        <img ng-src="{{pet.media.photos.photo[2].$t}}">
      </a>  
      </ion-item>
      
    </div>

    <a class="item" href="#/tab/match">
      <button class="button button-block button-royal">
        Back to Match
      </button>
    </a>
    <a class="item" href="#/"> 
      <button class="button button-block button-royal">
        Add to Favorites
      </button>
    </a>  
  </ion-content>
</ion-view>



