<ion-view view-title="Pet Friendly">
  <ion-content ng-model="pet" class="padding">

    <div class="list card">
      <div class="item item-avatar">
        <h1>{{pet.name}}, {{pet.age}}</h1>
        <p>{{pet.description}}</p>
      </div> 

      <div class="item item-image">
        <img src="{{pet.photo1}}">
      <div>
      
    </div>

    <a class="item" href="#/tab/match">
      <button class="button button-royal">
        Back to Match
      </button>
    </a> 
    <button class="button button-royal">
      Add to Favorites
    </button>
  </ion-content>
</ion-view>


