<ion-view view-title="Pet Friendly">
  <ion-content class="padding">
    <label class="item item-input item-select">
      <div class="input-label">I am looking for...(pet type)
      </div>
        <select class="dropdowns" ng-model="settings.animal">
          <option>barnyard</option>
          <option>bird</option>
          <option selected>cat</option>
          <option>dog</option>
          <option>horse</option>
          <option>pig</option>
          <option>reptile</option>
          <option>small furry</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">My ideal pet is...(size)
      </div>
        <select class="dropdowns" ng-model="settings.size">
          <option selected>small</option>
          <option>medium</option>
          <option>large</option>
          <option>extra-large</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">I would like a...(m/f)
      </div>
        <select class="dropdowns" ng-model="settings.sex">
          <option selected>M</option>
          <option>F</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">My pet should be...(Age)
      </div>
        <select class="dropdowns" ng-model="settings.age">
          <option selected>Baby</option>
          <option>Young</option>
          <option>Adult</option>
          <option>Senior</option>
        </select>
    </label>    
    <!--<a class="item" href="#/tab/match"> -->
      <button class="button button-block button-royal" ng-click="saveSettings(settings)">
        Find me a Friend!
      </button>
    </a>
    <button class="button button-clear button-royal">
      Log Out
    </button>  
  </ion-content>
</ion-view>
