<ion-view view-title="Pet Friendly">
  <ion-content ng-model="pet" class="padding">
    <ion-list>
      <ion-item ng-repeat="pet in pets" ng:show="$parent.selected == $index" >
      <a href="#">
        <h2>{{pet.name.$t}}, {{pet.age.$t}}</h2>
        <!--<img ng-repeat="img in pet.media.photos.photo" ng-src="{{img.$t}}"/>-->
        <img ng-src="{{pet.media.photos.photo[1].$t}}">
        <div class="item item-text-wrap">{{pet.description.$t}}</div>
      </a>
      <button class="button button-royal" ng-click='$parent.selected = $parent.selected + 1'>
        No
      </button>
      <button class="button button-royal" ng-click="saveFavorite(pet, true)">
        Yes
      </button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

<!-- <ion-list>
      <ion-item ng-repeat="pet in pets" ng:show="$parent.selected ==$index">
        <a href="#/tab/details">
          <div class="card">
            <div class="bar bar-header bar-stable">
              <h1 class="title">{{pet.name.$t}}, {{pet.age.$t}}</h1>
            </div>

            <div class="item item-image">
              <img src="{{pet.photo1}}">
            <div>
          </div>
        </a>
      </ion-item>
    </ion-list>  -->
