<ion-view view-title="Pet Friendly">
  <ion-content class="padding">
    <label class="item item-input item-select">
      <div class="input-label">I am looking for...(pet type)
      </div>
        <select class="dropdowns">
          <option selected>Any</option>
          <option>animals</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">My pet should be...(Age)
      </div>
        <select class="dropdowns">
          <option selected>Any</option>
          <option>old</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">I would like a...(m/f)
      </div>
        <select class="dropdowns">
          <option selected>Any</option>
          <option>f</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">I'm willing to travel...(distance)
      </div>
        <select class="dropdowns">
          <option selected>Any</option>
          <option>5 miles</option>
        </select>
    </label>
    <ion-checkbox>Hero Search (special needs only)</ion-checkbox>
    <button class="button button-block button-royal">
  Find me a Friend!
    </button>
  </ion-content>
</ion-view>
