<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Matches Tab -->
  <ion-tab title="Match" icon-off="match-icon" icon-on="match-icon" href="#/tab/match">
    <ion-nav-view name="tab-match"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Favorites" icon-off="icon ion-star" icon-on="icon ion-star" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Details Tab -->
  <ion-tab title="Details" icon-off="icon" icon-on="icon" href="#/tab/details">
    <ion-nav-view name="details"></ion-nav-view>
  </ion-tab>

</ion-tabs>
