<ion-view view-title="Login | PetFriendly" hide-back-button="true">
  <ion-nav-title>
    <img class="title-image-pic" src="../img/PetBar.jpg">
  </ion-nav-title>
  <ion-content class="padding">
    <div class="list list-inset">
      <div class="alert-style" ng-show="alert">{{alert}}</div>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="wide-btn button button-royal" ng-click="login(user)">Login</button>
    <a href="/#/register">
      <button class="button button-clear button-royal">
        New user? Register here
      </button>
    </a>
  </ion-content>
</ion-view>
