<ion-view view-title="Register" name="register-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <!-- Alert below needs styling -->
      <div ng-show="alert">{{alert}}</div>
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zipcode" ng-model="user.zipcode">
      </label>
    </div>
    <button class="button button-block button-royal" ng-click="register(user)">Register</button>
  </ion-content>
</ion-view>
