<ion-view view-title="Pet Friendly">
  <ion-content class="padding">
  <form name="frm">
    <label class="item item-input item-select">
      <div class="input-label">I am looking for...(pet type)
      </div>
        <select class="dropdowns" ng-model="settings.animal">
          <option value="" selected>any</option>
          <option>bird</option>
          <option>barnyard</option>
          <option>cat</option>
          <option>dog</option>
          <option>horse</option>
          <option>pig</option>
          <option>reptile</option>
          <option>smallfurry</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">My ideal pet is...(size)
      </div>
        <select class="dropdowns" ng-model="settings.sizes">
          <option value="" selected>any</option>
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">I would like a...(m/f)
      </div>
        <select class="dropdowns" ng-model="settings.sex">
          <option value="" selected>any</option>
          <option>M</option>
          <option>F</option>
        </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">My pet should be...(Age)
      </div>
        <select class="dropdowns" ng-model="settings.age">
          <option value="" selected>any</option>
          <option>Baby</option>
          <option>Young</option>
          <option>Adult</option>
          <option>Senior</option>
        </select>
    </label>
    <label class="item item-input">
      <input type="text" placeholder="zip code" ng-model="settings.zipcode">
    </label>
  </form>
    <a href="https://www.petfinder.com/">
      <button class="button button-clear button-royal">
        Pet information provided by Petfinder.com
      </button>
    </a>  
  </ion-content>
</ion-view>
